*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(0, 0, 0);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url('./imagem/background_arvores.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.pipe,
.mario,
.monstro {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.pipe {
    position: absolute;
    bottom: 50px;
    width: 80px;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 50px;
}

.monstro {
    width: 200px;
    position: absolute;
    bottom: 50px;
    left: -250px;
    z-index: 10;
}

.jump {
    animation: jump 500ms ease-out;
}

.start-image {
    width: 450px;
    height: auto;
    position: absolute;
    right: 50vw;
    top: 50vh;
    transform: translate(50%, -50%);
    cursor: pointer;
    z-index: 1;
}

button.start {
    display: none;
}

.score {
position: absolute;
top: 10px;
right: 10px;
background-color: rgba(0, 0, 0, 0.5);
font-size: 24px;
padding: 10px;
border-radius: 8px;
font-family: 'Arial', sans-serif;
color: white;
z-index: 50;
}

.score span {
    font-weight: bold;
    font-size: 30px;
}

.hidden {
    display: none !important;
}

#game-over-screen {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
background-color: rgba(0, 0, 0, 0.0);
cursor: pointer;
opacity: 0;
backdrop-filter: blur(0px);
transition: opacity 2s ease-in-out, backdrop-filter 2s ease-in-out, background-color 2s ease-in-out;
}

#restart-image {
    max-width: 90%;
    max-height: 90%;
    image-rendering: pixelated;
    pointer-events: none;
}

.game-over-active {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    backdrop-filter: blur(5px) !important;
}

@keyframes pipe-animation {
    from {right: -80px;}
    to {right: 100%;}
}

@keyframes jump{
    0% {bottom: 50px;}
    40% {bottom: 250px;}
    50% {bottom: 250px;}
    60% {bottom: 250px;}
    100% {bottom: 50px;}
}